*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: larger;
}

body{
    display: flex;
    background-color: lightgray;
    flex-direction: column;
    height: 100vh;
    background-image: url('./images/gradientPurple.jpg');
    background-size: cover;
}
section.container{
    display: flex;
    flex:1;
    flex-direction: column;
    padding-bottom: 0;
    margin: 10px;
    background-color: rgba(205, 4, 255, 0.4);
    border: medium solid white;
    border-radius: 10px;
}
div.playing{
    display: flex;
    padding: 0 10px;
    flex: 1;
}
div.player{
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;   
}
.player .wrap-game{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    max-width: 70%;
}
.player .play-button{
    aspect-ratio: 2/0.5;
    border-radius: 10px;
}

.player .play-button:focus{
    border: medium solid rgb(89, 0, 255);
    transition: 0.3s ease-in-out all;
    font-size: 1.1rem;
}
.player1{
    border-right: medium solid white;
}
.player2{
    justify-content: flex-end;
    
}

.bot{
    aspect-ratio: 2/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    
}

.change{
    transition: all 0.4s ease-in;
    font-size: 1.4rem;
}

div.score{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border-top: medium solid white;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0.533);
}



